.App {
  background-color: cadetblue;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/d6/34/b7/d634b74068bca1b5a2155a0d26dd8f25.gif');
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
.searchBar{
  justify-content: center;
  width:100%;
}

.btn btn-primary{
  justify-content: space-around;
}
.user-list{
  display: flex;
}
.card-img-top{
  margin-top: 10px;
}
.navb{
  margin-top: "100px"
}